<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration</title>
    <link rel="stylesheet" href="register.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="img"></div>
    <div id="info">
        <div id="container">
            <h1 id="bigBull">The Big Bull</h1>
            <hr style="margin: 10px 30px;">
            <p style="margin-left: 50px ;">Register for the game and be the big bull.</p>
    
            <form id="register-form">
                <input type="text" id="fName" class="inputs" placeholder="First name">
                <input type="text" id="lName" class="inputs" placeholder="Last name">
                <input type="date" id="dob" class="inputs" placeholder="DOB: ">
                <input type="text" id="gameId" class="inputs" placeholder="Game ID">
                <input type="text" id="userName" class="inputs" placeholder="User name">
                <input type="password" id="password" class="inputs" placeholder="Password">
                <button id="register-btn">Submit</button>
                <output id="register-out"></output>
    
            </form>
        </div>
    </div>
    
<script src="./js/register.js"></script>
    
</body>
</html>